@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body{
	font-family: 'Nunito Sans', sans-serif;
}

.container-sm{
	max-width: 900px;
	background-repeat: no-repeat;
	background-image: url('/images/background-register.jpg');
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.carousel-item{
	min-height: 430px;
}

.btn-success{
	background-color: #cc7a0c;
	border-color: #cc7a0c;
}

.btn-success:hover{
	background-color: #f3ab07;
	border-color: #f3ab07;
}

.btn-outline-secondary{
	border-color: #635924;
}

.btn-outline-secondary:hover{
	border-color: #635924;
	background-color: #635924;
	color: white;
}

@media screen and (max-width: 600px) {
	.container-sm{
		background-image: none;
		box-shadow: none;
	}
	
}










