<!DOCTYPE html>

<html>
	<head>
		<title>Home</title>
	</head>
	
	<body>
	
	<h1>Home</h1>
	<hr>
	
	<a href="/login" th:href="@{/login}">Fazer login</a>|
	<a href="/register/new" th:href="@{/register/new}">Cadastro</a>

<div th:if="${registerAutoLoginFail}">
						<div class="alert alert-danger rounded-0 border-0 py-2 alert-dismissible fade show"
							role="alert">
							<strong>Oops!</strong> <span th:text="${registerAutoLoginFail}"></span>
							<button type="button" class="btn-close p-2 mt-1" data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
					</div>

</html>
